PROJECT_DIR=/Users/zhouguangjin/Desktop/webrtc/src/out/ios
TARGETNAME=GWebRTC
PROJECT_FILE_PATH=/Users/zhouguangjin/Desktop/webrtc/src/out/ios/products.xcodeproj
SOURCE_FILE_GROUP=Source
OBJECT_FILE=/Users/zhouguangjin/Desktop/webrtc/src/out/ios/GWebRTC/objfils.txt
rubyFile=/Users/zhouguangjin/Desktop/webrtc/src/out/ios/GWebRTC/PraseProduct.rb
ignoreSourceGroup=third_party:test
getDefineRubyFile=/Users/zhouguangjin/Desktop/webrtc/src/out/ios/GWebRTC/GetDefine.rb
PATH_CONVERT_SAVE_PATH=/Users/zhouguangjin/Desktop/webrtc/src/out/ios/GWebRTC/pathConversConfig.txt
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
DidBuild=yes
